<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Washow NFC Tags Services - {% block title %} {% endblock %}</title>

    <!-- local css -->
    <link href="{% static '/static/webadm/css/webadm.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static '/static/webadm/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/webadm/css/skeleton.css' %}" rel="stylesheet">

    <!-- social js -->
    <link href="{% static 'webadm/css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'webadm/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="{% static '/static/webadm/js/1.11.0-jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/static/webadm/js/bootstrap.min.js' %}"></script>

    <!-- webadm js -->
    <script src="{% static '/static/webadm/js/webadm.js' %}"></script>
</head>
<body>

{% block header %} {% endblock %}

{% block content %} {% endblock %}

{% block footer %} {% endblock %}

</body>
</html>
