{% load i18n %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"> Washow NFC Tags Services</div>
        </div>
        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'logout_web' %}">
                        <span class="glyphicon glyphicon-off"></span>
                        {% trans 'Logout' %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
