{% block footer %}

<footer class="footer">
    <div class="container">
        <div class="text-center center-block">
            <p class="txt-railway"> Washow Corp.</p>
            <br>
            <a href="https://www.facebook.com/"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
            <a href="https://twitter.com/"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
            <a href="https://plus.google.com/"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
            <a href="mailto:"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
        </div>
    </div>
</footer>

{% endblock %}

