{% load i18n %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"> Washow NFC Campaign Services</div>
        </div>

        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'index' %}">
                        <span class="glyphicon glyphicon-home"></span>
                        {% trans 'Home' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <span class="glyphicon glyphicon-tags"></span>
                        {% trans 'Tags' %}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> Options
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/web/access_rpt/">
                                <span class="glyphicon glyphicon-th-list"></span>
                                {% trans 'Access Report' %}
                            </a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="/web/client_info/">
                                <span class="glyphicon glyphicon-stats"></span>
                                {% trans 'Client Information' %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/web/pie_chart/">
                                <span class="glyphicon glyphicon-stats"></span>
                                {% trans 'TAP PieChart' %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/web/platform_piechart/">
                                <span class="glyphicon glyphicon-stats"></span>
                                {% trans 'Platform information PieChart' %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        {% if profile.role_id < 2 %}
                        <li class=disabled><a href="#"> <span class="glyphicon glyphicon-cog"></span>
                                {% trans 'Advance function' %}
                            </a>  
                        </li>
                        {% else %}
                        <li><a href="{% url 'index' %}">
                            <span class="glyphicon glyphicon-cog"></span>
                                {% trans 'Advance function' %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'logout_page' %}">
                        <span class="glyphicon glyphicon-off"></span>
                        {% trans 'Logout' %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

