{% extends "web/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'List tags' %} {% endblock %}

{% block header %}
{% include 'web/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <!--<table class="table table-condensed table-lists-contacts"> -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Action Name' %}</th>
                    <th>{% trans 'Campaign Name' %}</th>
                    <th>{% trans 'Last TAP date' %}</th>
                    <th>{% trans 'TAP Count' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for act in acts %}
                <tr>
                    <td> {{ act.name }}</td>
                    <td> {{ act.campaign.name }}</td>
                    <td> {{ act.last_date|date:"Y/m/d" }} {{ tag.last_date|time:"H:i" }}</td>
                    <td> {{ act.tap_count }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal-footer">
                <a href="{% url 'list_acts' %}" class="btn btn-danger pull-left"
                   type="submit">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>

    {% endblock %}
