{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'List tags' %} {% endblock %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <h3>Client Device information</h3>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Device' %}</th>
                    <th>{% trans 'Qty' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in device_list.items %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ key }}</td>
                    <td> {{ value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3> Client Platform information</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Platform' %}</th>
                    <th>{% trans 'Qty' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in platform_list.items %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ key }}</td>
                    <td> {{ value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3> Client Browser information</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Browser' %}</th>
                    <th>{% trans 'Qty' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in browser_list.items %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ key }}</td>
                    <td> {{ value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="modal-footer">
                <a href="{% url 'list_tags' %}" class="btn btn-danger pull-left"
                   type="submit">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
