{% load i18n %}
<!-- Modal Delete Tag -->
<div class="modal fade" id="delete-tag" tabindex="-1" role="dialog" aria-labelledby="delete-redirect-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" >{% trans "Confirmation" %}</h4>
            </div>
            <form class="form-horizontal" method="get" >
                {% csrf_token %}
                <div class="modal-body">
                    <h4 class="modal-title" >{% trans "Are you sure to delete it?" %}</h4>
                </div>
                <div class="modal-footer">
                    <a id="delete-button" class="btn btn-info"
                       type="submit" onclick="get_url_to_delete(this);">{% trans 'Yes' %}</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'No' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal Delete Tag -->
