{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'List tags' %} {% endblock %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <!--<table class="table table-condensed table-lists-contacts"> -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Device' %}</th>
                    <th>{% trans 'Qty' %}</th>
                    <th>{% trans '%' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in device_list.items %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ key }}</td>
                    <td> {{ value }}</td>
                    <td> {{ foo }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal-footer">
                <a href="{% url 'list_tags' %}" class="btn btn-danger pull-left"
                   type="submit">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
