{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'Edit Group' %} {% endblock %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" method="post" action="{% url 'group_edit' group_id=taggroup.id %}">
                {% csrf_token %}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="{{ taggroup_form.groupname.id_for_label }}">
                            {{ taggroup_form.groupname.label }} :</label>

                        <div class="controls">
                            {{ taggroup_form.groupname }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="{{ taggroup_form.description.id_for_label }}">
                            {{ taggroup_form.description.label }} :</label>

                        <div class="controls">
                            {{ taggroup_form.description }}
                        </div>
                    </div>
                </fieldset>
                <br>
                <a href="{% url 'list_group' %}" class="btn btn-danger pull-left"
                   type="submit">{% trans 'Back' %}</a>
                <button class="btn btn-info pull-right" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
