{% extends "web/base/base.html" %}

{% load i18n %}

{% block title %} Login page{% endblock %}

{% block header %}
{% include 'web/base/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-login">
        <h3>Washow NFC Services</h3>

        <p>Provide NFC tag link redirection and information service.</p>

        <p><a href="/accounts/login">Login</a></p>

    </div>
</div>

{% endblock %}
