{% load static %}
<link href="{% static '/static/tagservice/css/nv.d3.css' %}" type="text/css" rel="stylesheet" />

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js" charset="utf-8"></script>


{% load nvd3_tags %}
<head>
    {% load_chart charttype chartdata "linewithfocuschart_container" True "%d %b %Y %H" %}
</head>
<body>
    {% include_container "linewithfocuschart_container" 400 '100%' %}
</body>
