{% extends "web/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'List Readers' %} {% endblock %}

{% block header %}
{% include 'web/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <div class="list-group-item active">ID : {{ user }} </div>
            </div>
        </div>
        <h4>Action List:</h4>
        <div class="col-xs-12 col-sm-9">
            <!--<table class="table table-condensed table-lists-contacts"> -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Action Name' %}</th>
                    <th>{% trans 'URL' %}</th>
                    <th>{% trans 'Create Date' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for reader in readers_p %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ reader.name }}</a></td>
                    <td> {{ reader.uuid }}</td>
                    <td> {{ reader.created|date:"Y/m/d" }} {{ reader.created|time:"H:i" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav>
            <ul class="pagination">
            {% if tags_p.has_previous %}
                <li>
                <a href="?page={{ tags_p.previous_page_number }}">Previous</a>
            {% else %}
                <li class="disabled">
                <a href="?page=1">Previous</a>
            {% endif %}

            {% for pagenum in tags_p.paginator.page_range %}
                {% if tags_p.number == pagenum %}
                    <li class="active">
                    <a title="Current Page" href="?page={{ pagenum }}">{{ pagenum }}</a>
                    </li>
                {% else %}
                    <li>
                    <a title="Page {{ pagenum }} of {{ tags_p.paginator.num_pages }}" href="?page={{ pagenum  }}">{{ pagenum }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if tags_p.has_next %}
                <li>
                <a href="?page={{ tags_p.next_page_number }}">Next</a>
            {% else %}
                <li class="disabled">
                <a href="?page={{ tags_p.paginator.num_pages }}">Next</a>
            {% endif %}

            </ul>
            </nav>

        </div>
    </div>
</div>

<script>
    function geoFindMe() {
	var output = document.getElementById("getgeo");
	var postgeo = document.getElementById("URL_location");

	if (!navigator.geolocation){
	    output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
	    return;
	}

	function success(position) {
	    var latitude  = new Number(position.coords.latitude);
	    var longitude = new Number(position.coords.longitude);
	    var location = latitude.toFixed(5) + ',' + longitude.toFixed(5);
	    postgeo.setAttribute("value", location);
	};

	function error() {
	    output.innerHTML = "Unable to retrieve your location";
	};

	navigator.geolocation.getCurrentPosition(success, error);
    }
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var url_to_delete;

    function set_url_to_delete(element) {
        url_to_delete = element.getAttribute("data-hook");
        return true;
    }

    function get_url_to_delete(element) {
        document.getElementById("delete-button").href = url_to_delete;
        return true;
    }

</script>

{% endblock %}
