{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'List tags' %} {% endblock %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <div class="list-group-item active">ID : {{ user }}</div>
                <div class="list-group-item active">Permission : {{ profile.role.name }}</div>
                <div class="list-group-item">Total groups : {{ group_total }}</div>
                <div class="list-group-item">Total tags : {{ tag_total }}</div>
            </div>
            {% if profile.role.group_limit > group_total %}
            <button type="button" class="btn btn-info pull-left" data-toggle="modal" data-target="#new-group">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {% trans 'Create Group' %}
            </button>
            {% endif %}
        </div>
        <h4> Group Name: {{ group_name }} </h4>
        <div class="col-xs-12 col-sm-9">
            <!--<table class="table table-condensed table-lists-contacts"> -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>  </th>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Tag Name' %}</th>
                    <th>{% trans 'Action' %}</th>
                    <th>{% trans 'Create Date' %}</th>
                    <th>{% trans 'Edit/ Delete' %}</th>
                </tr>
                </thead>
                <tbody>
                <form class="form-horizontal" method="post" action="{% url 'move_to_group' %}">
                {% csrf_token %}
                {% for tag in tags_p %}
                <tr>
                    <td> <input type="checkbox" name="checks" value="{{ tag.id }}" /></td>
                    <td> {{ forloop.counter }}</td>
                    <td> <a href="{% url 'tag_dashboard' tag_id=tag.id%}"> {{ tag.tagname }}</a></td>
                    <td> {{ tag.type }}</td>
                    <td> {{ tag.create_date|date:"Y/m/d" }} {{ tag.create_date|time:"H:i" }}</td>
                    <td>
                        <a href="{% url 'tag_edit' tag_id=tag.id %}" class="btn btn-primary"><span
                                class="glyphicon glyphicon-edit"></span></a>
                        <a type="button" data-toggle="modal" data-target="#delete-tag" class="btn btn-danger"
                            data-hook="{% url 'tag_delete' tag_id=tag.id %}"
                            onclick="return set_url_to_delete(this);">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav>
            <ul class="pagination">
            {% if tags_p.has_previous %}
                <li>
                <a href="?page={{ tags_p.previous_page_number }}">Previous</a>
            {% else %}
                <li class="disabled">
                <a href="?page=1">Previous</a>
            {% endif %}

            {% for pagenum in tags_p.paginator.page_range %}
                {% if tags_p.number == pagenum %}
                    <li class="active">
                    <a title="Current Page" href="?page={{ pagenum }}">{{ pagenum }}</a>
                    </li>
                {% else %}
                    <li>
                    <a title="Page {{ pagenum }} of {{ tags_p.paginator.num_pages }}" href="?page={{ pagenum  }}">{{ pagenum }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if tags_p.has_next %}
                <li>
                <a href="?page={{ tags_p.next_page_number }}">Next</a>
            {% else %}
                <li class="disabled">
                <a href="?page={{ tags_p.paginator.num_pages }}">Next</a>
            {% endif %}

            </ul>
            </nav>

            <br>
            <div class="col-xs-6">
            <select class="form-control" data-width="auto" name="new_group">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.groupname }}</option>
                {% endfor %}
            </select>
            </div>
            <button class="btn btn-info" type="submit">{% trans 'Group Move' %}</button>
            </form>
        </div>
    </div>
</div>

<script>
function geoFindMe() {
  var output = document.getElementById("getgeo");
  var resultString = "<input type=hidden name=location id=id_location value=\"";
  var postgeo = document.getElementById("id_location");

  if (!navigator.geolocation){
    output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
    return;
  }

  function success(position) {
    var latitude  = new Number(position.coords.latitude);
    var longitude = new Number(position.coords.longitude);
    var location = latitude.toFixed(5) + ',' + longitude.toFixed(5);
    //resultString += "latitude & longitude:" + location;
    //resultString += location + "\" >";
    //output.innerHTML = resultString;
    postgeo.setAttribute("value", location);
  };

  function error() {
    output.innerHTML = "Unable to retrieve your location";
  };

  navigator.geolocation.getCurrentPosition(success, error);
}
</script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var url_to_delete;

    function set_url_to_delete(element) {
        url_to_delete = element.getAttribute("data-hook");
        return true;
    }

    function get_url_to_delete(element) {
        document.getElementById("delete-button").href = url_to_delete;
        return true;
    }

</script>

{% block new_group %}
{% include 'tagservice/new_group.html' %}
{% endblock %}

{% block delete_tag %}
{% include 'tagservice/delete_tag.html' %}
{% endblock %}

{% endblock %}
