{% extends "web/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'List Area' %} {% endblock %}

{% block header %}
{% include 'web/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-area">
                <div class="list-group-item active">ID : {{ user }}</div>
            </div>
        </div>
        <h4>Area List:</h4>
        <div class="col-xs-12 col-sm-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Reader Qty' %}</th>
                    <th>{% trans 'Create date' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for area in areas %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    {% if area.act_count = 0 %}
                    <td> {{ area.name }}</td>
                    {% else %}
                    <td> <a href="{% url 'list_readers' area_id=area.id %}"> {{ area.name }}</a></td>
                    {% endif %}
                    <td> {{ area.description }}</td>
                    <td> {{ area.act_count }}</td>
                    <td> {{ area.created|date:"Y/m/d" }} {{ area.created|time:"H:i" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var url_to_delete;

    function set_url_to_delete(element) {
        url_to_delete = element.getAttribute("data-hook");
        return true;
    }

    function get_url_to_delete(element) {
        document.getElementById("delete-button").href = url_to_delete;
        return true;
    }

</script>

{% endblock %}
