{% load i18n %}
<!-- Modal NEW TAG -->
<div class="modal fade" id="new-tag" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add new tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="{{ newtag_form.tagname.id_for_label }}">{{ newtag_form.tagname.label }} :</label>
                          <div class="controls">
                            {{ newtag_form.tagname }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="{{ newtag_form.type.id_for_label }}">{{ newtag_form.type.label }} :</label>
                          <div class="controls">
                            {{ newtag_form.type }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="{{ newtag_form.tagurl.id_for_label }}">{{ newtag_form.tagurl.label }} :</label>
                          <div class="controls">
                            {{ newtag_form.tagurl }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="{{ newtag_form.location.id_for_label }}">{{ newtag_form.location.label }} :</label>
                          <div class="controls">
                            {{ newtag_form.location }}
                          </div>
                        </div>
                        
                        <div class="control-group">
                          <label class="control-label" for="{{ newtag_form.status.id_for_label }}">{{ newtag_form.status.label }} :</label>
                          <div class="controls">
                            {{ newtag_form.status }}
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">{% trans 'Save tag' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG -->
