{% load i18n %}
<!-- Modal NEW TAG for Link -->
<div class="modal fade" id="new-tag-link" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="{{ newtag_form.tagname.id_for_label }}">
                                {{ newtag_form.tagname.label }} :</label>

                            <div class="controls">
                                {{ newtag_form.tagname }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="{{ newtag_form.tagurl.id_for_label }}">
                                {{ newtag_form.tagurl.label }} :</label>
                            <div class="controls">
                                {{ newtag_form.tagurl }}
                            </div>
                        </div>
                        <div class="control-group">
                            <input type="checkbox" name="setgeo" id="setgeo" onclick="geoFindMe()">
                            <label class="control-label">Set Location</label>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddURL(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="URL_type" value="URL">
                    <input class="form-control" type="hidden" name="location" id="URL_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="URL_genkey" value="Washow">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG for Link-->

<!-- Modal NEW TAG for Email-->
<div class="modal fade" id="new-tag-email" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="id_tagname">Tag Name :</label>
                          <div class="controls">
                            <input autofocus="1" class="form-control" id="id_tagname" maxlength="100" name="tagname" placeholder="Tag Name" required="" tabindex="1" type="text" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="id_tagurl">EMail :</label>
                          <div class="controls">
                            <input class="form-control" id="id_tagurl" maxlength="150" name="tagurl" placeholder="EMail Address" required="" tabindex="2" type="text" />
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddemail(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="email_type" value="email">
                    <input class="form-control" type="hidden" name="location" id="email_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="email_genkey" value="Washow">

                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG Email-->

<!-- Modal NEW TAG for TEL-->
<div class="modal fade" id="new-tag-tel" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="id_tagname">Tag Name :</label>
                          <div class="controls">
                            <input autofocus="1" class="form-control" id="id_tagname" maxlength="100" name="tagname" placeholder="Tag Name" required="" tabindex="1" type="text" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="id_tagurl">TEL :</label>
                          <div class="controls">
                            <input class="form-control" id="id_tagurl" maxlength="150" name="tagurl" placeholder="Phone Number" required="" tabindex="2" type="text" />
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddtel(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="id_type" value="TEL">
                    <input class="form-control" type="hidden" name="location" id="tel_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="tel_genkey" value="Washow">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG for TEL-->

<!-- Modal NEW TAG for SMS-->
<div class="modal fade" id="new-tag-sms" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="id_tagname">Tag Name :</label>
                          <div class="controls">
                            <input autofocus="1" class="form-control" id="id_tagname" maxlength="100" name="tagname" placeholder="Tag Name" required="" tabindex="1" type="text" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="id_tagurl">SMS :</label>
                          <div class="controls">
                            <input class="form-control" id="id_tagurl" maxlength="150" name="tagurl" placeholder="Phone Number" required="" tabindex="2" type="text" />
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddsms(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="id_type" value="SMS">
                    <input class="form-control" type="hidden" name="location" id="sms_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="sms_genkey" value="Washow">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG for SMS-->

<!-- Modal NEW TAG for fb-->
<div class="modal fade" id="new-tag-fb" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="id_tagname">Tag Name :</label>
                          <div class="controls">
                            <input autofocus="1" class="form-control" id="id_tagname" maxlength="100" name="tagname" placeholder="Tag Name" required="" tabindex="1" type="text" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="id_tagurl">FaceBook :</label>
                          <div class="controls">
                            <input class="form-control" id="id_tagurl" maxlength="150" name="tagurl" placeholder="FaceBook Name" required="" tabindex="2" type="text" />
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddfb(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="id_type" value="FB">
                    <input class="form-control" type="hidden" name="location" id="fb_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="fb_genkey" value="Washow">

                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG for fb-->

<!-- Modal NEW TAG for twitter-->
<div class="modal fade" id="new-tag-twitter" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="id_tagname">Tag Name :</label>
                          <div class="controls">
                            <input autofocus="1" class="form-control" id="id_tagname" maxlength="100" name="tagname" placeholder="Tag Name" required="" tabindex="1" type="text" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="id_tagurl">twitter name :</label>
                          <div class="controls">
                            <input class="form-control" id="id_tagurl" maxlength="150" name="tagurl" placeholder="twitter Name" required="" tabindex="2" type="text" />
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddtw(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="id_type" value="twitter">
                    <input class="form-control" type="hidden" name="location" id="tw_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="tw_genkey" value="Washow">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG for twitter-->

<!-- Modal NEW TAG for YouTube-->
<div class="modal fade" id="new-tag-youtube" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add New Tag" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_tag_action' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="id_tagname">Tag Name :</label>
                          <div class="controls">
                            <input autofocus="1" class="form-control" id="id_tagname" maxlength="100" name="tagname" placeholder="Tag Name" required="" tabindex="1" type="text" />
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label" for="id_tagurl">YouTube Movie name :</label>
                          <div class="controls">
                            <input class="form-control" id="id_tagurl" maxlength="150" name="tagurl" placeholder="YouTube Movie Name" required="" tabindex="2" type="text" />
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit" onclick="return batchAddmv(this);">
                    {% trans 'Save tag & TAP' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <input class="form-control" type="hidden" name="type" id="id_type" value="YouTube">
                    <input class="form-control" type="hidden" name="location" id="mv_location" value="24.803,121.039">
                    <input class="form-control" type="hidden" name="genkey" id="mv_genkey" value="Washow">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG for twitter-->

