{% load i18n %}
<!-- Modal NEW Group -->
<div class="modal fade" id="new-group" tabindex="-1" role="dialog" aria-labelledby="new-group-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-group-label">{% trans "Create Group" %}</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'new_group' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label" for="{{ newgroup_form.groupname.id_for_label }}">
                            {{ newgroup_form.groupname.label }} :</label>
                          <div class="controls">
                            {{ newgroup_form.groupname }}
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="{{ newgroup_form.description.id_for_label }}">
                            {{ newgroup_form.description.label }} :</label>
                          <div class="controls">
                            {{ newgroup_form.description }}
                          </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">{% trans 'Save group' %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW Group -->
