<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Washow NFC Services - Tag PieChart{% block title %} {% endblock %}</title>

    <!-- local css -->
    <link href="{% static '/static/tagservice/css/tagservice.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static '/static/tagservice/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/tagservice/css/skeleton.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/static/tagservice/js/1.11.0-jquery.min.js' %}"></script>
    <script src="{% static '/static/tagservice/js/bootstrap.min.js' %}"></script>

    <!-- tagservice js -->
    <script src="{% static '/static/tagservice/js/tagservice.js' %}"></script>

    <!-- NVD3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js" charset="utf-8"></script>

    {% load nvd3_tags %}

    {% load_chart charttype chartdata "piechart_container" %}
</head>

{% load i18n %}

<body>

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="text-center">
                <h3>Pie Chart for Platform Usage</h3>
                {% include_container "piechart_container" 300 None %}
            </div>
            <div class="modal-footer">
                <a href="{% url 'list_tags' %}" class="btn btn-danger pull-left" type="submit">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
