<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title>Your tag map</title>
    <style>
        #map-canvas {
        height: 600px;
        }
    </style>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Washow NFC Services - {% block title %} {% endblock %}</title>

    <!-- local css -->
    <link href="{% static '/static/tagservice/css/tagservice.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static '/static/tagservice/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/tagservice/css/skeleton.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/static/tagservice/js/1.11.0-jquery.min.js' %}"></script>
    <script src="{% static '/static/tagservice/js/bootstrap.min.js' %}"></script>

    <!-- tagservice js -->
    <script src="{% static '/static/tagservice/js/tagservice.js' %}"></script>

</head>

{% load i18n %}

<body>
{% block header %}
    {% include 'tagservice/base/header-w.html' %}
{% endblock %}
<div class="text-center">
    <h3>Tag Map</h3>

    <div id="map-canvas">

        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
        <script>
            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'));
                var bounds = new google.maps.LatLngBounds();
                function addMarker(lat, lng, title) {
                    var position = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: title
                    });
                    bounds.extend(position);
                }
                {% for tag in tags %}
                    addMarker({{ tag.location.latitude }}, {{ tag.location.longitude }}, "{{ tag.tagname }}");
                {% endfor %}
                map.fitBounds(bounds);
            }

            function toggleBounce() {
                if (marker.getAnimation() != null) {
                    marker.setAnimation(null);
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                }
            }

            google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </div>
</div>
</body>
</html>
