{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} Login page{% endblock %}

{% block header %}
{% include 'tagservice/base/header.html' %}
{% endblock %}

{% block content %}
<body>
<h1>Register with NFC accounts</h1>

{% if registered %}
NFC accounts says: <strong>thank you for registering!</strong>
<a href="/tagservice/">Return to the homepage.</a><br/>
{% else %}
NFC accounts says: <strong>register here!</strong><br/>

<div class="col-xs-6">
    <form id="user_form" method="post" action="{% url 'register' %}"
          enctype="multipart/form-data">

        {% csrf_token %}

        {{ register_form.as_table }}

        <!-- Provide a button to click to submit the form. -->
        <br>
        <input type="submit" name="submit" value="Register"/>
    </form>
</div>
{% endif %}
{% endblock %}
