{% load i18n %}
<!-- Modal SELECT RULE -->
<div class="modal fade" id="select-rule" tabindex="-1" role="dialog" aria-labelledby="select-rule-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="select-rule-label">{% trans "Select Rule" %}</h4>
            </div>
            {% csrf_token %}
            <div class="modal-body">
                <a type="button" href="{% url 'set_rule' rule="NA" %}" class="btn btn-danger" 
                   style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">N/A
                   <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <a type="button" href="{% url 'set_rule' rule="rule1" %}" class="btn btn-primary"
                   style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">Rule1
                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
                <a type="button" href="{% url 'set_rule' rule="rule2" %}" class="btn btn-info"
                   style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">Rule2
                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
<!-- End MODAL SELECT RULE -->
