{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'Edit tag' %} {% endblock %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

{% load qr_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="text-center">
            <div class="control-group">
		{% qr_from_text tagurl "m" %}
            <a href="{{ qrurl }}" download="qrcode">Download!
            </a>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <form class="form-horizontal" method="post" action="{% url 'tag_edit' tag_id=tag.id %}">
                {% csrf_token %}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.tagname.id_for_label }}">
                            {{ tag_form.tagname.label }} :</label>

                        <div class="controls">
                            {{ tag_form.tagname }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.type.id_for_label }}">
                            {{ tag_form.type.label }} :</label>

                        <div class="controls">
                            {{ tag_form.type }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.tagurl.id_for_label }}">
                            {{ tag_form.tagurl.label }} :</label>

                        <div>
                            {{ tag_form.tagurl }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.location.id_for_label }}">
                            {{ tag_form.location.label }} :</label>

                        <div>
                            {{ tag_form.location }}
                        </div>
                    </div>
                </fieldset>
                <br>
                <a href="{% url 'list_tags' %}" class="btn btn-danger pull-left"
                   type="submit">{% trans 'Back' %}</a>
                <button class="btn btn-info pull-right" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
