{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'Edit tag' %} {% endblock %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" method="post" action="{% url 'edit_tag_by_rule' tag_id=tag.id %}">
                {% csrf_token %}
                <fieldset disabled>
                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.tagname.id_for_label }}">
                            {{ tag_form.tagname.label }} :</label>

                        <div class="controls">
                            {{ tag_form.tagname }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.rulename.id_for_label }}">
                            {{ tag_form.rulename.label }} :</label>

                        <div class="controls">
                            {{ tag_form.rulename }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.rule1.id_for_label }}">
                            {{ tag_form.rule1.label }} :</label>

                        <div>
                            {{ tag_form.rule1 }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="{{ tag_form.rule2.id_for_label }}">
                            {{ tag_form.rule2.label }} :</label>

                        <div>
                            {{ tag_form.rule2 }}
                        </div>
                    </div>
                </fieldset>
                <br>
                <a href="{% url 'list_tags_by_rule' %}" class="btn btn-danger pull-left"
                   type="submit">{% trans 'Back' %}</a>
                <button class="btn btn-info pull-right" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
