{% load i18n %}
<!-- Modal NEW TAG -->
<div class="modal fade" id="new-tag" tabindex="-1" role="dialog" aria-labelledby="new-tag-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-tag-label">{% trans "Add new tag" %}</h4>
            </div>
            {% csrf_token %}
            <div class="modal-body">
                <fieldset>
                <button type="button" class="btn btn-block btn-social btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-link"  style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <i class="fa fa-globe"></i>
                {% trans 'Web Link' %}
                </button> 
                <button type="button" class="btn btn-block btn-social btn-success" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-email" style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <i class="fa fa-envelope-o"></i>
                {% trans 'EMail' %}
                </button>
                <button type="button" class="btn btn-block btn-social btn-info" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-tel" style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                {% trans 'TEL' %}
                </button>
                <button type="button" class="btn btn-block btn-social btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-sms" style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <i class="fa fa-comment"></i>
                {% trans 'SMS' %}
                </button>
                <button type="button" class="btn btn-block btn-social btn-facebook" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-fb" style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <i class="fa fa-facebook"></i>
                {% trans 'facebook' %}
                </button>
                <button type="button" class="btn btn-block btn-social btn-twitter" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-twitter" style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <i class="fa fa-twitter"></i>
                {% trans 'twitter' %}
                </button>
                <button type="button" class="btn btn-block btn-social btn-google-plus" data-dismiss="modal" data-toggle="modal" data-target="#new-tag-youtube" style="display:block; width: 100%; margin-right:16px; margin-bottom:8px;">
                <i class="fa fa-youtube-play"></i>
                {% trans 'YouTube' %}
                </button>
                </filedset>
            </div>
        </div>
    </div>
</div>
<!-- End MODAL NEW TAG -->
