<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="5;url=/tagservice/list_tags/" http-equiv="Refresh" />
    <title>Washow NFC Services - {% block title %} {% endblock %}</title>

    <!-- local css -->
    <link href="{% static '/static/tagservice/css/tagservice.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static '/static/tagservice/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/tagservice/css/skeleton.css' %}" rel="stylesheet">

    <!-- social js -->
    <link href="{% static 'tagservice/css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'tagservice/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="{% static '/static/tagservice/js/1.11.0-jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/static/tagservice/js/bootstrap.min.js' %}"></script>

    <!-- tagservice js -->
    <script src="{% static '/static/tagservice/js/tagservice.js' %}"></script>
</head>
<body>

{% load i18n %}

{% block header %}
{% include 'tagservice/base/header-w.html' %}
{% endblock %}

<h3>{% trans "This tag isn't Washow NFC tag" %}</h3>

</body>
</html>
