{% extends "tagservice/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'Edit tag using mobile device' %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" method="post" action="{% url 'tap_new_tag' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="{{ newtag_form.tagname.id_for_label }}">
                                {{ newtag_form.tagname.label }} :</label>

                            <div class="controls">
                                {{ newtag_form.tagname }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="{{ newtag_form.type.id_for_label }}">
                                {{ newtag_form.type.label }} :</label>

                            <div class="controls">
                                {{ newtag_form.type }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="{{ newtag_form.tagurl.id_for_label }}">
                                {{ newtag_form.tagurl.label }} :</label>

                            <div class="controls">
                                {{ newtag_form.tagurl }}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'list_tags' %}" class="btn btn-danger pull-left"
                       type="submit">{% trans 'Back' %}</a>
                    <button class="btn btn-info" type="submit">{% trans 'Save tag' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
