{% extends "webadm/base/base.html" %}

{% load i18n %}

{% block title %} Login page{% endblock %}

{% block header %}
{% include 'webadm/base/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-login">
        <h3>Washow NFC Tags Admin Services</h3>

        <p>Provide NFC tag link redirection and information service.</p>

        <p><a href="/accounts/login?next=/webadm/">Login</a></p>

        <p><a href="{% url 'auth_password_reset' %}">Forgot password</a></p>
    </div>
</div>

{% endblock %}
