{% extends "webadm/base/base.html" %}

{% load i18n %}

{% block title %} {% trans 'User List' %} {% endblock %}

{% block header %}
{% include 'webadm/base/header-w.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4>User Lists:</h4>
        <div class="col-xs-12 col-sm-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'User Name' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Reset PW/Delete User' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ user.username }}</td>
                    <td> {{ user.email }}</td>
                    <td> 
                        <a href="{% url 'change_password' user_id=user.id %}" class="btn btn-primary"><span
                                class="glyphicon glyphicon-edit"></span></a>
                        </a>
                        <a type="button" data-toggle="modal" data-target="#delete-user" class="btn btn-danger"
                            data-hook="{% url 'delete_user' user_id=user.id %}"
                            onclick="return set_url_to_delete(this);">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var url_to_delete;

    function set_url_to_delete(element) {
        url_to_delete = element.getAttribute("data-hook");
        return true;
    }

    function get_url_to_delete(element) {
        document.getElementById("delete-button").href = url_to_delete;
        return true;
    }

</script>

{% block create_user %}
{% include 'webadm/create_user.html' %}
{% endblock %}

{% block delete_user %}
{% include 'webadm/delete_user.html' %}
{% endblock %}


{% endblock %}
