{% extends "webadm/base/base.html" %}

{% load i18n %}

{% block header %}
{% include 'webadm/base/header.html' %}
{% endblock %}

{% block title %} Login page{% endblock %}
{% block content %}
<div class="container">
    <div class="form-login">
        <form class="form-signin" method="post" action="{% url 'login_page' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">{% trans "Login page" %}</h2>
            {% if error %}
            <div class="alert alert-danger">
                {% trans "Username or password is not correct." %}
            </div>
            {% endif %}
            {{ login_form.username }}
            {{ login_form.password }}
            <button class="btn btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'webadm/base/footer.html' %}
{% endblock %}
