{% extends "webadm/base/base.html" %}
{% load i18n %}

{% block header %}
    {% include 'webadm/base/header-w.html' %}
{% endblock %}

{% block content %}

<body>
<h3>Create User Account</h3>
<br>
<div class="col-xs-6">
    <form method="post" action=".">
        {% csrf_token %}
        <table class='table'>
        {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
</div>
{% endblock %}
